.message-container {
    -fx-padding: 8px;
    -fx-border-radius: 10px;
    -fx-background-color: #DCF8C6;
}

.message-sender {
    -fx-font-size: 0.8em;
    -fx-font-weight: bold;
    -fx-text-fill: #666;
}

.message-text {
    -fx-font-size: 1em;
    -fx-text-fill: #333;
    -fx-wrap-text: true;
}

.message-time {
    -fx-font-size: 0.7em;
    -fx-text-fill: #888;
}

.top-panel {
    -fx-background-color: #039156;
}

.menu-panel {
    -fx-background-color: #039156;
}

.logo {
    -fx-background-image: url("icons/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.chat-button {
    -fx-background-image: url("icons/chat.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-clip: content-box;
    -fx-background-origin: content-box;
    -fx-background-radius: 10px;
}

.chat-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.timeline-button {
    -fx-background-image: url("icons/timeline.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-clip: content-box;
    -fx-background-origin: content-box;
    -fx-background-radius: 10px;
}

.timeline-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.notes-button {
    -fx-background-image: url("icons/notes.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-clip: content-box;
    -fx-background-origin: content-box;
    -fx-background-radius: 10px;
}

.notes-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.tasks-button {
    -fx-background-image: url("icons/tasks.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-clip: content-box;
    -fx-background-origin: content-box;
    -fx-background-radius: 10px;
}

.tasks-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.contacts-button {
    -fx-background-image: url("icons/contacts.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-clip: content-box;
    -fx-background-origin: content-box;
    -fx-background-radius: 10px;
}

.contacts-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.settings-button {
    -fx-background-image: url("icons/settings.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-clip: content-box;
    -fx-background-origin: content-box;
    -fx-background-radius: 10px;
}

.settings-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.exit-button {
    -fx-background-image: url("icons/exit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-clip: content-box;
    -fx-background-origin: content-box;
    -fx-background-radius: 10px;
}

.exit-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.scrollpane {
    -fx-focus-color: #c8c8c8;
    -fx-faint-focus-color: #c8c8c8;
}

.scrollpane:focused {
    -fx-focus-color: #c8c8c8;
    -fx-faint-focus-color: transparent;
}