.message-container {
    -fx-padding: 8px;
    -fx-border-radius: 10px;
    -fx-background-color: #DCF8C6;
}

.message-sender {
    -fx-font-size: 0.8em;
    -fx-font-weight: bold;
    -fx-text-fill: #666;
}

.message-text {
    -fx-font-size: 1em;
    -fx-text-fill: #333;
    -fx-wrap-text: true;
}

.message-time {
    -fx-font-size: 0.7em;
    -fx-text-fill: #888;
}

.top-panel {
    -fx-background-color: #039156;
}

.menu-panel {
    -fx-background-color: #039156;
}

.logo {
    -fx-background-image: url("icons/logo.png");
}

.chat-button {
    -fx-background-image: url("icons/chat.png");
}

.timeline-button {
    -fx-background-image: url("icons/timeline.png");
}

.notes-button {
    -fx-background-image: url("icons/notes.png");
}

.tasks-button {
    -fx-background-image: url("icons/tasks.png");
}

.contacts-button {
    -fx-background-image: url("icons/contacts.png");
}

.settings-button {
    -fx-background-image: url("icons/settings.png");
}

.exit-button {
    -fx-background-image: url("icons/exit.png");
}

.scrollpane {
    -fx-focus-color: #c8c8c8;
    -fx-faint-focus-color: #c8c8c8;
}

.scrollpane:focused {
    -fx-focus-color: #c8c8c8;
    -fx-faint-focus-color: transparent;
}